.board_container {
  display: flex;
  width: 1280px;
  height: 364px;
  padding: 0px 42px;
}

.board {
  width: 600px;
  padding: 40px 80px;
}
.box {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgba(75, 85, 99, 1);
  height: 24px;
  margin-top: 8px;
}
.title {
  font-weight: 700px;
  font-size: 60px;
  line-height: 72px;
  height: 72px;
}
.text {
  color: rgba(75, 85, 99, 1);
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  margin-bottom: 48px;
}
.icons {
  display: flex;
  margin-top: 50px;
}
