.flex {
  display: flex;
  height: 68px;
  padding: 0px 80px;
  justify-content: space-between;
  align-items: center;
}

.items {
  gap: 20px;
  display: flex;
  font-size: 16px;
}
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 24px;
  font-size: 16px;
  background-color: black;
  color: white;
  width: 104px;
}
.head-phone {
  display: flex;
  justify-content: space-between;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
